<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <meta name="description" content="<%= description %>" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <title><%= title %></title>
    <style>
      :root {
        color-scheme: light dark;
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <my-index
      title="<%= title %>"
      description="<%= description %>"
      disclaimer="<%= disclaimer %>"
    ></my-index>
    <script type="module" src="pages/index.ts"></script>
  </body>
</html>
